@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Playwrite+CO+Guides&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* For Mobile or Phone */

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", serif;
}
body {
  font-size: 1rem;
}

/* Header Design */
header {
  position: fixed;
  z-index: 2;
  width: 100%;
}
nav {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  width: 100%;
  background-color: white;
  box-shadow: 0.5px 0.5px 2.5px 1px #c7c5c5;
}
nav > .left-section {
  display: flex;
  width: 50%;
  margin-top: 0.5rem;
  margin-right: 5rem;
}

.left-section > :nth-child(1) {
  height: 20px;
  width: 20px;
  position: relative;
  top: 0.4rem;
  left: 3rem;
  cursor: pointer;
}

nav > .right-section {
  display: flex;
  margin-top: 0.75rem;
  margin-right: 5rem;
  gap: 10%;
}

.seller img{
    height: 25px;
    width: 25px;
    position: relative;
    top: 0.6rem;
}
@media only screen and (max-width: 350px) {
  nav > .right-section {
    gap: 6%;
  }
}
nav > .right-section > .login {
  display: flex;
  gap: 5%;
  height: 25px; 
  cursor: pointer;
}

nav > .right-section > .cart {
  display: flex;
  height: 25px; 
  padding-left: 0.5rem;
  cursor: pointer;
}

nav > .right-section > .login > img[alt="data_Img"] {
  margin-right: 0.5rem;
  cursor: pointer;
}

.search-bar , nav > .right-section > .login > :nth-last-child(1) , .cart >p , .seller , .menu{
  display: none;
}

/* For More Smaller Screen (need  more adjustment.) */
@media only screen and (max-width: 420px) {
  header {
    background-color: aliceblue;
  }
  nav > .left-section {
    width: 30%;
  }
  nav > .left-section {
    position: relative;
    right: 10%;
  }
}
/* Tablets */
@media only screen and (min-width: 767px) {
  nav > .left-section > :first-child {
    display: none;
  }

  .search-bar {
     display:block;
  }
  .search-bar {
    width: 100%;
    height: 70%;
    border-radius: 0.313rem;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    background-color: aliceblue;
    margin-top: 0.3rem;
    margin-left: 2rem;
  }
  .search-bar > img {
    padding: 0.4rem 0.2rem 0.4rem 0.5rem;
    cursor: pointer;
  }
  .search-bar > input {
    width: 100%;
    border: none;
    outline: none;
    background-color: aliceblue;
    padding: 1rem;
    border-radius: 0.313rem;
  }

  nav > .right-section > .login > img[alt="data_Img"] {
    display: none;
  }
  nav > .right-section > .login > :nth-last-child(1) {
    display: block;
    height: 12px;
    margin-top: 0.4rem;
  }
  .cart > p {
    display: block;
  }
  .seller{
     display:block;
  }
  .seller {
    display: flex;
    position: relative;
    bottom: 0.6rem;
    cursor: pointer;
  }
  .seller > p {
    padding-left: 0.4rem;
  }
  .menu{
     display:block;
  }
  .menu > img {
    cursor: pointer;
  }
}

@media only screen and (max-width: 900px) {
  .cart > p,
  .seller > p {
    display: none;
  }
  .menu {
    padding-left: 2.5rem;
  }
}

/* Laptop  and Desktop*/
@media only screen and (min-width: 1200px) {
  .right-section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0.3rem;
  }
  .cart > p,
  .seller > p {
    display: block;
  }
  .seller {
    width: 350px;
    position: relative;
    top: 0.01px;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .seller > img{
      top: 0rem;
  }
}

/* Main -section-1*/
/* For Mobile or phone */
.section-1a > .location {
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
  top: 3.6rem;
  padding-right: 0.2rem 0rem;
  gap: 2%;
  margin-right: 1.8rem;
}
.section-1a > .location > p {
  font-size: 0.75rem;
}

.section-1a > .location > .two {
  color: rgb(41, 84, 177);
}

.section-1a > .search-bar2 {
  border: 1px solid black;
  position: relative;
  top: 3.7rem;
  display: flex;
  gap: 0.3rem;
  background-color: #082d4e;
  height: 3rem;
  margin: 0rem 0.3rem;
}
.section-1a > .search-bar2 :nth-child(1) {
  padding-left: 0.2rem;
  margin: 0.8rem 0rem;
  color: grey;
  filter: brightness(5);
}
.section-1a > .search-bar2 :nth-child(2) {
  border: none;
  outline: none;
  margin: 0.5rem 0rem;
  border-radius: 5px;
}
.section-1b {
  display: none;
}
/* For Big-Mobile , Tab ,Laptop ,Desktop */
@media only screen and (min-width: 345px) {
  .section-1a {
    display: none;
  }
  .section-1b {
    display: block;
    margin: auto;
    padding-top: 4rem;
    width: 98.5%;
  }
  .section-1b > .image-container {
    overflow: scroll;
    box-shadow: 1px 5px 5px #c7c5c5;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .section-1b > .image-container::-webkit-scrollbar {
    display: none;
  }
  .section-1b > .image-container {
    width: 100%;
    box-sizing: border-box;
  }
  .section-1b > .image-container > .inner-image-container > .bottom-para > p {
    transition: color 0.5s ease-in-out 0.5ms;
  }
  

  .section-1b
    > .image-container
    > .inner-image-container
    > .bottom-para
    > .effect:hover {
    /*Need of (a) tag instead of p tag for apply style like visited , active , link*/
    color: blue;
    cursor: pointer;
  }
  .section-1b > .image-container {
    display: grid;
    grid-template-columns: repeat(8, auto);
    gap: 2%;
  }

  .inner-image-container > .bottom-para {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 0.5rem;
  }
  .inner-image-container{
     box-shadow: 0px 0px 3px 1px #ebebeb;
     padding:  0rem 0.5rem;
     margin: 1rem 0.5rem;
     border-radius: 3px;
  }
   .inner-image-container .images:hover{
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;
   }
}

/* Main-section-2 */
.section-2 {
  width: 98.5%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 5.5rem;
  height: 220px;
  box-shadow: 1px 5px 5px #c7c5c5; /*Here You want to make border-fillers*/
  flex-direction: column;
}
.slider-container {
  width: 98.5%;
  height: 200px;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.slider-container::-webkit-scrollbar {
  display: none;
}
.slider {
  flex: 0 0 100%;
  scroll-snap-align: start;
}
.slider > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.left-shift,
.right-shift {
  position: absolute;
  height: 100px;
  width: 50px;
  top: 3.5rem;
  z-index: 1;
  border: none;
  outline: none;
  background-color: aliceblue;
}

.left-shift {
  left: 0.55rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.right-shift {
  right: 0.55rem;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
/*Progress-Bar*/
.progress-bar{
  display:flex;
  gap: 10px;
  padding: 0.3rem;

}
.bar-1{
  width: 20px;
  height: 5px;
  background-color: aliceblue;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  transition: width 0.1s ease-in-out;
}
.color-filler{
   width: 0;
   height: 100%;
   background-color: #535252;
   border-radius: 5px;
   position:absolute;
   transition: width 2s ease-in-out;
 }
.expanded{
 width: 40px; /*Slightly increased width while filling*/
}

/* For Tablet , Laptop , Desktop */
@media only screen and (min-width: 345px) {
  .section-2 {
    top: 2rem;
  }
}

/* For mobile , smaller devices */
@media only screen and (max-width: 767px) {
  .left-shift,
  .right-shift {
    display: none;
  }
}

/* Main section-3 */
#section-3 {
  width: 98.5%;
  margin: auto;
  position: relative;
  top: 3rem;
}
.section-3 {
  height: 15rem;
  box-shadow: 0.5px 0.5px 5px 2px #c7c5c5;
}
.section-3 > .heading {
  margin-left: 0.5rem;
  padding-top: 0.3rem;
  color: rgb(64, 62, 62);
}

.card-container-1 {
  display: grid;
  grid-template-columns: repeat(8, 1fr); 
  grid-column-gap: 3%;
  padding-right: 0.5rem;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.card-container-1::-webkit-scrollbar {
  display: none;
}
.card-container-1 {
  position: relative;
  top: 1rem;
  padding-left: 1.5rem;
}
img[alt="card-Imgs1"] {
  height: 120px;
  width: 100px;
}
.card-Img1{
  box-shadow: 0px 0px 3px 1px #ebebeb;
  padding:  0.2rem 0.5rem;
  margin: 0.5rem 0.5rem;
  border-radius: 3px;
}
.card-Img1 img:hover{
   transform: scale(1.1);
   transition: transform 0.5s ease-in-out;
} 
.card-Img1 > p {
  font-size: 0.7rem;
  text-align: center;
  cursor: pointer;
}
.card-Img1 > strong {
  display: block;
  font-size: 0.8rem;
  text-align: center;
  margin: auto;
  cursor: pointer;
}
aside {
  display: none;
}
aside > img {
  display: none;
}
/* For More Smaller Devices */
@media only screen and (max-width: 345px){
    #section-3{
        top: 6rem;
    }
}
/* For Large Devices */
@media only screen and (min-width: 1200px) {
  #section-3 {
    display: flex;
    justify-content: space-between;
  }
  .section-3 {
    height: 15rem;
    width: 72%;
  }
  .card-container-1 {
    top: 0.5rem;
  }
  .card-Img1 > img {
    height: 130px;
  }
  aside {
    display: block;
    width: 300px;
    box-shadow: 0.5px 0.5px 5px 2px #c7c5c5;
  }
  aside {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
  }
  aside > span {
    margin: auto;
  }
  aside img {
    display: block;
    width: auto;
    height: 50vh;
  }
}

/* Main section-4 */
.section-4 {
  width: 98.5%;
  margin: auto;
  position: relative;
  top: 5rem;
  box-shadow: 0.5px 0.5px 5px 2px #c7c5c5;
}
.section-4 > .heading {
  margin-left: 0.5rem;
  padding-top: 0.3rem;
  color: rgb(64, 62, 62);
}

.card-Img2 > p {
  font-size: 0.7rem;
  text-align: center;
}
.card-Img2 > strong {
  font-size: 0.8rem;
  display: block;
  text-align: center;
  margin: auto;
}

.card-Img2 img:hover{
  transform: scale(1.1);
  transition: transform 0.5s ease-in-out; 
}
.card-container-2 {
  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-column-gap: 4%;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.card-container-2::-webkit-scrollbar {
  display: none;
}
.card-Img2{
     box-shadow: 0px 0px 3px 1px #ebebeb;
     padding:  0.2rem 0.5rem;
     border-radius: 3px;
}
.card-Img2 p , .card-Img2 strong{
    cursor:pointer;
}
@media only screen and (max-width: 345px){
    .section-4{
        top: 7rem;
    }
}

/* Main section-5 */
.section-5 {
  width: 98.5%;
  margin: auto;
  box-shadow: 0.5px 0.5px 5px 2px #c7c5c5;
  position: relative;
  top: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container-3 {
  padding-top: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3,1fr); 
  gap: 0.5rem;
  max-width: 1200px; /* Optional: Limit max width */
  box-sizing: border-box;
  margin: 0.5rem 0.5rem;
}
.card-Img3 > img {
  width: 100%; 
  height: auto;
  max-width: 100%; 
  box-shadow: 0.5px 0.5px 5px 2px #c7c5c5;
  object-fit: cover;
}

@media only screen and (max-width: 345px){
    .section-5{
        top: 8rem;
    }
}

/* Footer */
footer {
  width: 98.5%;
  margin: auto;
  box-shadow: 0.5px 0.5px 5px 5px #c7c5c5;
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
  top: 10rem;
  background-color: #221f1f;
  border-bottom: 2px solid grey;
}

.footer-container {
  max-height: 100%;
  padding-top: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
ul > li {
  list-style: none;
}
.head ~ li {
  color: white;
  cursor: pointer;
}
ul > .head,
.social-links > p {
  color: grey;
  padding-bottom: 0.3rem;
}
.social-icon > img {
  padding-right: 0.5rem;
  cursor: pointer;
}

.first-column > :nth-last-child(1) {
  padding-top: 1.5rem;
}

.second-column > :nth-child(2) {
  padding-top: 6rem;
}
.second-column > :nth-last-child(1) {
  padding-top: 1.5rem;
}
.third-column > :nth-last-child(1) {
  padding-top: 4.6rem;
}
#contact .grey {
  color: grey;
}
#contact .blue {
  color: blue;
}

@media (max-width: 768px) {
  .footer-container {
    grid-template-columns: 1fr; /* Change to single column layout on small screens */
    text-align: center; 
  }
  ul > li {
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    white-space: normal; 
  }
  .social-links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .social-icon > img {
    padding: 0.3rem;
  }

  #contact {
    padding-top: 0.5rem;
  }
}

.footer-container-2{
    position:relative;
    top: 10rem;
    margin:auto;
    width: 98.5%;
    padding: 1rem 0rem;
    background-color: #221f1f;
    color: white;
    font-size: 0.8rem;
    text-align: center;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

.footer-container-2 >span{
     display: flex;
     align-items: center;
     gap: 5px;
     padding: 5px 10px;
     white-space: nowrap;
     cursor: pointer;
}

.footer-container-2 img{
     max-width: 20px;
     height: auto;
}
#payment-method  img{
    max-width: 500px;
    height: auto;
}
@media only screen and (max-width: 600px){
    .footer-container-2{
        flex-direction: column;
    }
    #payment-method img{
        max-width: 300px;
        height: auto;
    }
}

.fix-Btn {
    position: fixed; 
    bottom: 20px; 
    left: 50%; 
    transform: translateX(-50%); 
    border-radius: 10px;
    background-color: #4f4fdc;
    color: white;
    padding: 1em 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    z-index: 1000;
    cursor: pointer;
    opacity: 0.9;
}

.fix-Btn img {
    height: auto;
    width: 14.5px;
}

.fix-Btn div {
    display: flex;
    justify-content: center;
    align-content: center;
}





